body {
  height: auto;
  font-family: Belanosima, Roboto, Ruluko;
  padding-top: 75px;
  margin: 0;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(32, 162, 255);
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  z-index: 500;
  height: 45px;
  border-bottom: 2px solid rgb(2, 89, 202);
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nav-logo img {
  width: 45px;
  border-radius: 50%;
}

.text-logo {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 900;
  color: rgb(20, 1, 184);
  margin-left: 10px;
  line-height: 15px;
}

.text-logo span {
  color: white;
  font-style: normal;
}

.nav-link {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.nav-link a {
  text-decoration: none;
  color: white;
  font-family: Bebas Neue;
  transition: 0.5s;
  position: relative;
}

.nav-link a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(222, 48, 48);
  transition: 0.5s ease;
}

.nav-link a:hover::after {
  width: 100%;
  border-radius: 2px;
}
.nav-link a:hover {
  color: rgb(123, 29, 29);
  scale: 1.15;
}

.nav-option {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-option img {
  position: absolute;
  right: 30px;
  width: 25px;
}

/* HOME */

#home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../images/abstract-dark-blue-wallpaper-image.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 15px 23px rgba(0, 0, 0, 0.5);
}

.home-title {
  font-family: Bebas Neue;
  text-transform: none;
  color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 35px;
}

.home-title h2 {
  font-size: 110px;
  margin: 0;
}
.home-title h2 span {
  font-size: 110px;
  color: rgb(188, 81, 81);
  margin: 0;
}

.home-title p {
  color: rgb(192, 192, 192);
}

.title-btn {
  border: none;
  background-color: rgb(58, 150, 255);
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: 900;
  color: white;
  transition: 0.7s ease;
}

.title-btn:hover {
  background-color: rgb(12, 2, 145);
  scale: 1.1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
}

.img-container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.text-container h3 {
  font-family: Staatliches;
  margin-bottom: 0;
  letter-spacing: 4.5px;
}
.text-container p {
  margin: 0;
}

/* FEATURED */
.featured {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 70px;
  position: relative;
}

.card {
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 30px 0;
}

.card-content::after,
.card-content::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 20px;
  background-color: rgb(12, 37, 178);
  top: -3px;
  left: 0;
}

.card-content::after {
  border-radius: 30px 0 0 0;
  background-color: rgb(255, 255, 255);
}

.card-content {
  padding: 20px;
  position: relative;
}

.card-content h3 {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
  font-family: Staatliches;
}

.card-content p {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(50, 77, 96);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgb(20, 130, 204);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
}

.modal-content h2 {
  font-family: Bebas Neue;
}

.modal-content p {
  font-family: Roboto;
  font-weight: 500;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.service-details {
  text-align: center;
}

/* PRICING */

#pricing {
  background-color: rgb(249, 249, 249);
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

.pricing .title {
  width: 450px;
}

.pricing .title button {
  border: none;
  padding: 13px 9px;
  background-color: rgb(255, 208, 150);
  border-radius: 7px 2px 10px 0;
  font-weight: 900;
  color: rgb(154, 0, 0);
  transition: 0.5s;
}

.pricing .title button:hover {
  background-color: coral;
  color: white;
  scale: 0.9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 85px;
  flex-wrap: wrap;
  gap: 12px;
  flex: 2;
}

.price-card {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 9px;
  width: 250px;
  border-radius: 10px 0;
  transition: 0.4s ease;
}

.price-card:hover {
  box-shadow: 2px 2px 8px red;
  width: 280px;
}

.image-header {
  display: flex;
  padding-top: 5px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Staatliches;
  width: 200px;
  white-space: nowrap;
}

.image-header h2 {
  margin: 0;
  font-size: 18px;
  margin-top: 5px;
}

.image-head {
  background-color: brown;
  border-radius: 50%;
  height: 100px;
  position: relative;
  width: 100px;
}

.image-head img {
  width: 50px;
  position: absolute;
  top: 25px;
  right: 25px;
}

.pricing .desc {
  height: 0;
  overflow: hidden;
}

.price-card:hover .desc {
  height: auto;
}

.desc ul {
  list-style: none;
  padding: 10px;
  border-radius: 2px;
  font-family: Lexend;
  margin: 0;
}

.desc ul li {
  position: relative;
  padding: 10px 0;
  transition: all 0.3s ease;
}

.desc ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #9d0505;
  transition: all 0.3s ease;
  transform: scaleY(0);
  transform-origin: bottom;
}

.desc ul li:hover::after {
  transform: scaleY(1);
}

.desc ul li:hover {
  scale: 1.2;
  font-weight: 900;
}

.desc h1 {
  font-family: Bebas Neue;
}

.desc h2 {
  font-family: Lexend;
  font-size: 15px;
}

.price-card button {
  border: none;
  background-color: rgb(255, 79, 79);
  padding: 5px 9px;
  font-size: 16px;
  font-weight: 900;
  font-family: Bebas Neue;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.price-card button:hover {
  border-radius: 7px;
  background-color: rgb(182, 3, 3);
  scale: 1.1;
  box-shadow: 2px 2px 7px red;
  margin: 0 20px 20px 20px;
}

/* SOCIAL MEDIA */

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #520000;
  width: 100%;
}

.social-media .title {
  color: white;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  letter-spacing: 1px;
}

.account img {
  width: 50px;
}

/* footer */
